{
  "bail": false,
  "color": true,
  "diff": true,
  "exit": true,
  "ignore": [
    "**/entities/**/**"
  ],
  "node-option": [
    "experimental-specifier-resolution=node",
    "loader=ts-node/esm",
    "loader=esmock"
  ],
  "require": [
    "ts-node/register"
  ],
  "extensions": [
    "ts"
  ],
  "watch-extensions": [
    "ts"
  ],
  "full-trace": true,
  "recursive": true,
  "reporter": "spec",
  "timeout": 100000
}
